@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

.fontS  {
    font-family: 'League Spartan';
    font-weight: 500
}

.fontM {
    font-family: 'League Spartan';
    font-weight: 600;
}

.fontL {
    font-family: 'League Spartan';
    font-weight: 700;
}

.navComp::after {
    content: '';
    position: absolute;
    bottom: -2px;
    background-color: white;
    display: block;
    width: 0;
    height: 4px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: width 0.3s ease;
}

.navComp:hover::after {
    width: 70%;
}

.drawer {
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;
}

.drawerShow {
    opacity: 1;
    transform: translateY(0);
}